
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    /*font-family: 'Open Sans', sans-serif;*/
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #212292 80%, #060744 100%);
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
    }


/*First page*/
/* .page-1 {
    height: 100vh;
    position: relative;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
} */
section.page {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between  ;
}

section.page > img.bg{
    max-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    position: absolute;
    object-position: 50% -19em;
    z-index: -100;

}


.title-page-1 {
    z-index: 1000;
    color: #3d508a;
}


.header-page-1 {
    box-sizing: border-box;
    text-align: left;
    color: #0d319c;
    font-size: 1.5em;
    padding-top: 3em;
    padding-left: 3em;
    min-height: 100vh;
    width: 100vw;
    z-index: 100;
}

.header-page-1 > h1
 {
    max-width: 55vw;
}


div.goal-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal-1 {
    top: 35%;
    left: 24%;
}

.goal-2 {
    top: 53%;
    left: 44%;

}

.goal-3 {
    top: 51%;
    right: 17%;
}

.goal-title {
    color: #0d319c;
    margin-bottom: 1em;
}


.circle {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    display: block;
    background: #dd791b;
    cursor: pointer;
    box-shadow: 0 0 0 #cf1337;
    animation: pulse 2s infinite;

}

/*Circles animation*/

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(207, 19, 55);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(207, 19, 55);
    }
  }
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 2em rgba(204,169,44, 0);
        box-shadow: 0 0 0 2em rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

.circle-medium {
    width: 1.5em;
    height: 1.5em;
    animation: pulseM 2s infinite;
}

    @keyframes pulseM {
        0% {
          -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
          box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        }
        70% {
            -moz-box-shadow: 0 0 0 3em rgba(204,169,44, 0);
            box-shadow: 0 0 0 3em rgba(204,169,44, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
            box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        }
      }

.goal-4 {

    top: 3%;
    right: 37%;
}

div.goal-wrapper.goal-4 > .goal-title {
    font-size: 1.5em;

}

.circle-large {
    width: 1.8em;
    height: 1.8em;
    animation: pulseL 2s infinite;
}

@keyframes pulseL {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 4em rgba(204,169,44, 0);
        box-shadow: 0 0 0 4em rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
    }
    
/*Second-page*/

section.page-2 {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between; 
} 


div.moving-wrapper-page-2,
div.moving-wrapper-page-3 {
    position: relative;
} 


/* div.elements-wrapper-page-1 {
    position: absolute;
    border: solid 2px green;
} */

img.bg-2{
    object-fit: cover;
    position: absolute;
    object-position: 50% -100%;
    z-index: -100;

}

.header-page-2 {
    color: white;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    font-size: 4em;
    letter-spacing: -1px;
    font-weight: 300;
    font-family: "Gotham Pro";
    text-align: center;
}



.crystal {
    position: absolute;
    z-index: -1;
}


.crystal.crystal-1 {
    right: -2em;
    top: -8em;
}

.crystal.crystal-2 {
    left: 10em;
    top: -5em;
}

.crystal.crystal-3 {
    left: 20%;
    top: 10em;
}

.crystal.crystal-4 {
    right: 35%;
    top: 22em;
}


/*Page 3*/

section.page-3 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
} 

.header-page-3 {
    color: white;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: 300;
    font-family: "Gotham Pro";

}

.slider-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
}
.slider-inner {
    width: 300%;
    display: flex;
    transition: 0.5s all;
}
.slide {
   position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1000;
}

.slider-controller {
    bottom: 9em;
    left: 20vw;
    display: inline-block;
    position: relative;
}

.solid {
    background: #d1eaff;
    height: 1em;
    width: 60vw;
}

.scale-indicator {
    position: relative;
    bottom: 2.5em;
    left: -1em;
     /*
    bottom: -4em; 
    background:  #89bfeb;
    border: solid 3px white;
    position: relative;
    height: 4em;
    width: 6vw;
    bottom: -2em;
    z-index: 9999;
    transition: 0.5s all;
    cursor: move;
} */
}
